.theMostRead{
    background: #522352;
    border-radius: 25px;
    max-width: 900px;
    margin-top: 20px;
    padding-bottom: 20px;
    
}

#card-text{
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    font-family: sans-serif;
    color: #ddd5dd;
}


.books{
   border: 2px #5c425c solid;
   border-radius: 5px;
}


