.theMostRead{
    background: linear-gradient(to left, rgb(116, 91, 109), rgba(166, 193, 238, 1));
    border-radius: 25px;
    max-width: 900px;
    margin-top: 20px;
    padding-bottom: 20px;
    
}

#card-text{
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}


.title-most-read{
    font-family: fantasy;
}

.books{
   border: 2px #5c425c solid;
   border-radius: 5px;
}


