.photobook {
    margin-bottom: 20px;
    margin-top: 70px;
}

.titledetails {
    margin-bottom: 20px;
    margin-top: 40px;
}

.bottondetails1 {
    margin-bottom: 20px;
    margin-top: 40px;
}

.bottondetails2 {
    margin-bottom: 20px;
    margin-top: 40px;
}

.text {
    margin-left: 10px;
    margin-right: 10px;
}

.formproduct {
    margin-left: 200px;
    margin-right: 260px;
}
.formproductreview {
    margin-left: 200px;
    margin-right: 260px;
    margin-bottom: 260px;
}