body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cardinhome {
  display: block;
}

.card-img-top {
  margin-left: auto;
  margin-right: auto;
}

.carousel-inner {
  height: 300px;
  object-fit: cover;
}
/* 
   Login
*/

/* div.image {
  padding: 30px;
  text-align: center;
} */

/* .gradient-custom-2 { */
  /* background: linear-gradient(to right, #a78bb4, #743669, #522352, #050204); */
  /* background: linear-gradient(to right, #d0bdd8, #8b6685, #583f58, #050204);
  font-family: fantasy;
} */

/* 
 Navbar
*/

.dropdown {
  margin-left: 10%;
  margin-right: 5%;
}

#nav-item {
  padding-top: 5px;
  margin-left: 10%;
}

/* 
 Form
*/

/* .loginback {
  background-color: #f5eeea;  
  border: 2px solid #bdbdbd;
  width: 800px;
  height: 90%;
  margin: 0 auto;
  background: linear-gradient(to left, #d0bdd8, #8b6685, #583f58, #050204);
  background: linear-gradient(to left, #d0bdd8, #8b6685, #583f58, #050204);
} 

.asterisk {
  color: #fd4444;
  font-size: x-small;
}

.form-title {
  font-family: fantasy;
  padding-top: 10px;
}
.form-subtitle {
  font-family: fantasy;
}

#emailHelp {
  font-size: x-small;
  font-style: italic;
}

#passwordHelpBlock {
  font-size: x-small;
  font-style: italic;
}

h3,
h6 {
  font-family: fantasy;
}

.d-grid {
  font-family: fantasy;
}


.form-label{
font-family: fantasy;
} */

/* 
 Form
*/

/* Navbar Profile */
/* .navbarProfile{
  background: linear-gradient(to left, #d0bdd8, #8b6685, #583f58, #050204);
  background: linear-gradient(to left, #d0bdd8, #8b6685, #583f58, #050204);
  height: 60px;
} */
/* Navbar Profile */

/* .form-label {
  font-family: fantasy;
}

.title1 {
  text-align: left; 
  font-family: Arial Black; 
  font-weight: bold; font-size: 30px; 
  background: #202020; 
  -webkit-background-clip: text; 
  -moz-background-clip: text; 
  background-clip: text; 
  color: transparent; 
  text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
  margin-bottom: 20px;
  }
 */