/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}  */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cardinhome {
  display: block;
}

.card-img-top {
  margin-left: auto;
  margin-right: auto;
}

.carousel-inner {
  height: 300px;
  object-fit: cover;
}


/* 
 Navbar
*/

/* .dropdown {
  margin-left: 10%;
  margin-right: 5%;
}

#nav-item {
  padding-top: 5px;
  margin-left: 10%;
} */

