.nav-link.active.btn.btn-outline-dark {

  color: white;
  border: 1px solid black;
}

.editperfil {
  margin-top: -25px;
  margin-bottom: 200px;
}

.mislibros {
  margin-top: 4px;
  margin-bottom: 200px;
}

.mismatchpendientes {
  margin-top: 4px;
  margin-bottom: 200px;
}

.mislibros {
  margin-top: 4px;
  margin-bottom: 200px;
}

.historybootom {
  margin-top: 200px;
}

.historybootom2 {
  margin-top: 30px;
}