.product1 {
    background: linear-gradient(to left,#583f58, #8b6685,#aa7cbe );
    background: linear-gradient(to left, #583f58, #8b6685, #aa7cbe);
    margin-top: 5%;
    border: 2px solid #bdbdbd;
  }

.titleproduct {
    margin-top: 25px;
    margin-bottom: 20px;
    color: black;
}

.formsize {
    margin-left: -19%;
    margin-right: -22%;
}

.reviewsize {
    padding-bottom: 30%;
}

/* .formproduct3 {
    margin-left: 20%;
    margin-right: 272px;
    margin-top: -24px;
}  */

.formproductreview3 {
    margin-left: 130px;
    margin-right: 0px;
    margin-top: 0px;
    width: 46.4%;
}

.review2 {
    margin-left: 160px;
    margin-right: -160px;
}

.formproduct4 {
    margin-left: 21%;
    padding-left: 90px;
    padding-right: 500px;
    margin-top: 10px;
} 