.loginback {
    background-color: #f5eeea;
    /* background: linear-gradient(to right, #a78bb4, #743669, #522352, #050204);
    background: linear-gradient(to right, #a78bb4, #743669, #522352, #050204); */
    border: 2px solid #bdbdbd;
    width: 800px;
    height: 90%;
    margin: 50%;
    background: linear-gradient(to left, #d0bdd8, #8b6685, #583f58, #050204);
    background: linear-gradient(to left, #d0bdd8, #8b6685, #583f58, #050204);
  }

.gradient-custom-2 {
    /* background: linear-gradient(to right, #a78bb4, #743669, #522352, #050204); */
    background: linear-gradient(to left, #d0bdd8, #8b6685, #583f58, #050204);
    font-family: fantasy;
}