.edit {
  background: #522352;
  border: 2px solid #bdbdbd;
  border-radius: 25px;
  max-width: 550px;
  margin-top: 5%;
}

.gradient-custom {
  background: linear-gradient(to right, #d0bdd8, #8b6685, #583f58, #222222);
}

.edittitle {
  margin-top: -25px;
  margin-bottom: 0.5rem;
}

.titleform1 {
  margin-left: 11%;
  padding-left: 5%;
  padding-top: 3%;
  width: 75%;
}