
.dropdown{
    margin-left: 10%;
    margin-right: 5%;
  }

#nav-item{
    padding-top: 5px;
    margin-left: 10%;
  }

.underline:visited {
  color: white;
}

.navbar.navbar-expand-lg.navbar-light.btn-dark {
  width: 100%;
}

