.footer--img {
  width: 30px;
}

.footer--logo {
  width: 250px;
}

.copyrights {
  font-size: small;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
}

@media (max-width: 959px) {
  .logo {
    width: 200px;
  }

  .responsive-align {
    justify-content: center !important;
    padding: 10px 0 !important;
  }
}
