body {
  background: #e6dee2;
}

.login {
  background: #522352;
  border: 2px solid #bdbdbd;
  border-radius: 25px;
  max-width: 550px;
  height: 90%;
  margin-top: 15px;
}

div.image {
  padding: 30px;
  text-align: center;
}

.gradient-custom {
  /* background: linear-gradient(to right, #a78bb4, #743669, #522352, #050204); */
  background: linear-gradient(to right, #d0bdd8, #8b6685, #583f58, #222222);
}