body{
    background: linear-gradient(rgb(223, 220, 222), rgb(237, 224, 232));
}
 
.form {
    background-color: #f5eeea; 
    border: 2px solid #bdbdbd;
    width: 800px;
    height: 90%;
    margin: 0 auto;
    border-radius: 15px;
    background: linear-gradient(to left, #d0bdd8, #8b6685, #583f58, #050204);
    background: linear-gradient(to left, #d0bdd8, #8b6685, #583f58, #050204);
} 

.asterisk {
    color: #fd4444;
    font-size: x-small;
 }
  
.form-title {
    padding-top: 10px;
}


#emailHelp {
    font-size: x-small;
    font-style: italic;
}
  
#passwordHelpBlock {
    font-size: x-small;
    font-style: italic;
}
   
/* .d-grid {
    font-family: fantasy;
} */
    
.form-label{
  font-family: fantasy;
}

.gradient-custom {
    /* background: linear-gradient(to right, #a78bb4, #743669, #522352, #050204); */
    background: linear-gradient(to right, #d0bdd8, #8b6685, #583f58, #222222);
    font-family: fantasy;
}
